html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
   
}
body{
    margin: 0px;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 40px 0px;
}
#header{
    width: 100%;
    height: 500px;
    background-image: url("./images/cover.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 1100px;
    padding: 20px;
    
}
.container-row{
    display: flex;
    gap: 30px;
   
    
}
.container-column{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile-image > img{
    border-radius: 50% ;
    width: 150px;
    margin-bottom: 30px;
}
.title > h1{
    font-size: 3rem;
    color: #fff;
    margin: 0px;
}
h2{
    font-size: 2.5rem;
    margin: 0px;
}
.tagline > p{
    font-size: 2rem;
    color: #fff;
    margin: 10px 0px 0px 0px;
    font-weight: 500;
}
p{
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    font-family:sans-serif;
}
.content-width{
    width: 800px;
}
hr{
    width: 40%;
    height: 2px;
    background-color: green;
}
.skill-bar{
    background-color: #ccc;
    width: 100%;
    border-radius: 40px ;
    padding-right: 20px;
}
.skill-progress{
    text-align: right;
    background-color: green;
    padding: 5px 0px;
    padding-right: 20px;
    color: #fff;
    border-radius: 40px ;
}
.skill-container{
    margin-top: 30px;
    width: 100%;
    display: flex;
    gap: 30px;
}
.html{
width: 100%;
}
.css{
width: 80%;
}
.php{
width: 70%;
}
.javascript{
width: 75%;
}

.box{
    
    width: 31.5%;

}
#portfolio{
    background-color: #f5f5f5;
}
.space{
    margin-bottom: 40px;
}
.box img{
    background-size: cover;
    mask-repeat: no-repeat;
    width: 100%; 
}
.card{
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
}
#experience .container-row{
    gap: 50px !important;
}
#experience{
    background-color: #ededef;
}
.card .content p{
text-align: left;
}
.card > .title > h3{
    color: rgb(153, 16, 16);
}
#contact{
    background-image: url("./images/cover.png");
    background-size: cover;
    padding-bottom: 0px;
    padding-top: 60px;
}
#contact .card:nth-child(1),
#contact .card:nth-child(3){
    background-color: #2e2e2e;
}
#contact .card:nth-child(2){
    background-color: #e7446c;
}
.card > a{
    color:#fff;
    text-decoration: none;
}
.card > i{
    margin-top: 20px;
}
#contact > p{
padding: 50px 0px 10px 0px;
color: #ccc;
}

/* mobile and tablet */
@media (max-width:1200px){
    .container-row {
        flex-direction: column;
    }
    .content-width {
        width: 100%;
    }
    .skill-container{
        flex-direction: column;
       
    }
    .container{
        
        width: 100%;
    }
    .card{
        width: 60%;
    }
    .container-row {
        align-items: center;
    }
    .box{
        width: 60%;
    }
    
} 